@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #1a202c;
  --accent: #2563eb;
  --accent-hover: #1e40af;
  --success: #379461;
  --neutral: #e0f2fe;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --gradient-start: #0f172a;
    --gradient-mid: #1e293b;
    --gradient-end: #0f172a;
    --accent: #60a5fa;
  }
}
  
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.btn {
  color: var(--accent);
  transition: color .2s;
}

.btn:hover {
  color: #1e40af;
}